<%- include("partials/partials.dash.header.ejs", { datos : datos })  %>

<section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border bg-primary text-default">
        <h3 class="box-title">Crear Usuario</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
            <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
            <i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <!-- //columna 1 -->
                <div class="form-group">
                    <label for="number">identificacion</label>
                    <input type="number" class="form-control" id="identificacion" placeholder="Ingrese identificacion">
                  </div>
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" id="correo" placeholder="Ingrese su Correo">
                  </div>
                  <div class="form-group">
                    <label for="password">Clave</label>
                    <input type="password" class="form-control" id="contrasena" placeholder="password">
                  </div>
            </div>
            <div class="col-md-6">
                <!-- //columna 2 // -->

                <div class="form-group">
                    <label for="text-default">Nombre</label>
                    <input type="text" class="form-control" id="nombres" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Telefono</label>
                    <input type="number" class="form-control" id="telefono" placeholder="Telefono">
                  </div>
                  <div class="form-group">
                    <label for="password">Confirmar Clave</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Enter password">
                  </div>
            </div>
        </div>
        <button class="btn btn-app" onclick="GuardarUsuario()">
            <i class="fa fa-save"></i> Guardar
        </button>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
      </div>
      <div class="box-footer">
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- <script src="./js/main.js"></script> -->

<%- include("partials/partials.dash.footer.ejs")  %>
